$font-montserrat: "Montserrat", sans-serif;
$font-kaushan: "Kaushan Script", cursive;
$font-roboto: "Roboto", sans-serif;
$font-style: italic;
$color-yallow: #fce38a;
$color-coral: #f38181;
$color-aqua: #95e1d3;
$color-wight: #fff;
$color-text-section: #fff;
$amazing-service-text: #999;
$color-sections: #000;
$color-h3-sections: #333;