/* Amazing Services */

.amazing-services  {
    padding-top: 50px;
}

.titles {
    text-align: center;
    &__text {
    font-family: $font-kaushan;
    font-size: 24px;
    margin-bottom: 25px;
    display: inline-block;
    color: $color-sections;
}
    &__title {
    font-family: $font-montserrat;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 45px;
    color: $color-sections; 
    &::before {
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: var(--main-hover-color);
    height: 3px;
    width: 60px;
}}}
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
    list-style: none;
    display: flex;
    flex-basis: 345px 
}
    &__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}
    &__item-icon {
    width: 90px;
    display: block;
}
    &__svg {
    width: 32px;
    height: 32px;
    fill: var(--main-color);
}
    &__title {
    text-transform: uppercase;
    margin-bottom: 15px;
}
    &__text {
    line-height: 24px;
    color: $amazing-service-text;
}
}
/* /Amazing Services */